@charset "utf-8";

/*프로젝트 font*/

.Righteous-title {
  color:black;
}

.category>li{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background-color: #E6E6E6;
  color:#223440;
}

li .inter-category-select-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: #4FADFF;
  color:white;
}

.roboto-project-content-title {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 2.6rem;
    font-style: normal;
}


.roboto-project-content-date {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: normal;
}


.roboto-project-content-description {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
}



.Righteous-project-content-buttons{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  color:white;
  font-size: 0.8rem;
  gap: 10px;
  display: flex;
  margin-right:-10px;
}



.roboto-capyright{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}





/*프로젝트 화면*/


.content_element{
    overflow: hidden;
}

#project{
    height: calc(100% - 80px);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content_element>ul{
    width: 1200px;
    margin: 0 auto;

}

#project>h2{
    margin: 1.5% 3%;
    text-align: right;
}

.project_content{
    position: relative;
    height: 45vh;
}

/* 프로젝트 카테고리 */

.category{
    display: flex;
    gap: 21px;
    margin: 0px 2%;
    padding: 1%;
}


.category>li{
    display: block;
    padding: 1rem;
}

.category>li:nth-child(1){
    margin-left: auto
}



/* 프로젝트 카테고리 */

.web_project{
    position: relative;
    width: auto;
    height: 45vh;
    overflow: visible;
}

.web_project>ul{
    position: absolute;
    top:0;
    left:0;
    width: auto;
    height: 45vh;
    display: none;
}

.web_project>ul>li{
    display: block;
    width: 1200px;
    height: auto;
}

.web_project>ul:nth-child(1){
    display: flex;
}

/* 왼쪽, 오른쪽 버튼 아이콘 */


.icon>ul{
    position: absolute;
    width: 130px;
    height: 45vh;
    z-index: 10;
}



.icon>ul:nth-child(1){
    top:0;
    left: 0;
}

.icon>ul:nth-child(2){
    top:0;
    width:100%;
    background-color: rgba(46, 45, 100, 0.3);
    left: 1200px;
    backdrop-filter:blur(10px);
}


.icon>ul>img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 40%;
    filter: drop-shadow(3px 4px 4px rgba(0,0,0,0.25))
}

.icon>ul:nth-child(1)>img{
    left: 25%;
}

.icon>ul:nth-child(2)>img{
    left: 1vw;
}


/* 왼쪽 보이는 영역 위에 덮가*/

.project_content>div {
  width: 100%;
  height: 50vh;
  position: absolute;
  top:0;
  right:1200px;
  background-color: white;
  z-index: 3;
}


/* 프로젝트 목록 버튼 */


.select_list {
    display: flex;
    gap:25px;
    margin-right: 5px;
    padding: 1.5% 2%;
    justify-content: center;
}


.select_list>li {
    margin: auto 0;
    width: 30px;
    height: 30px;
    background-color: #E6E6E6;
    border-radius: 25px;
}

.select_list>li:nth-child(1) {
    margin-left: auto;
}


li .select_num {
    width: 40px;
    height: 40px;
    background-color: #4FADFF;
}









/* 프로젝트 리스트 컨텐츠 작업 */

.web_list>li{
    overflow: hidden;
}

.contexnt_grop , .project_sub_image {
    display: flex;
}

.contexnt_grop>li:nth-child(1)>img{
    width: 710px;
    height: 45vh;
    object-fit: cover;
    overflow: hidden;
    object-position: 50% 50%;
}

.contexnt_grop>li:nth-child(2){
    background-color: white;
    width: 490px;
    height: 43vh;
    padding: 1vh 50px;
    gap:5px;
}

.content_script{
    text-align: right;
    display: flex;
    height: 100%;
    flex-direction:column;
    padding: 0.2% 0px 0px 0px;
    margin: 0px 0.7%;    
}

.content_script>li:nth-child(3){
    color: #929292;
    padding-bottom: 3px;
}


.content_script>li:nth-child(3)>span:nth-child(1)::after{
    content: " / ";
}

.content_script>li:nth-child(5) , .content_script>li:nth-child(6) , .content_script>li:nth-child(7){
    margin: 0.7% 0; 
}

.semi_desc{
   padding:0.5% 0;
   flex-grow: 1;
   height: 50px;
}

.semi_desc>p {
   margin: auto 0;
   line-height:1.4rem;
   overflow-wrap: break-word;
}

 .content_script>li:nth-child(6){
   flex-grow: 0.2;
 }

.Righteous-project-content-buttons>li>a{
    display: block;
    padding: 7px 15px;
    border-radius: 15px;
    color:white;
    
}

.Righteous-project-content-buttons>li:has(a[href="#"]){
    display: none;
}



/* 링크 이동 버튼 색 */

.Righteous-project-content-buttons>li:nth-child(1),.Righteous-project-content-buttons>li:nth-child(2){
    margin-left: auto;
}

.Righteous-project-content-buttons>li:nth-child(1)>a{
    background-color: #EA4335;
}


.Righteous-project-content-buttons>li:nth-child(2)>a{
    background-color: #7A64FF;
}


.Righteous-project-content-buttons>li:nth-child(3)>a{
    background-color: #24292F;
}


.Righteous-project-content-buttons>li:nth-child(4)>a{
    background-color: #ff9c1b;
}




/* 콘텐츠 이미지 3개 */


.project_sub_image{
    gap:10px;
    height: max-content;
}


.project_sub_image>img{
    width: 50%;
    height: 100%;
    max-height: 10vh;
    object-fit: cover;
    overflow: hidden;
    object-position: 50% 50%;
}

.project_sub_image>img:nth-child(1){
    margin-left: auto;
}


/* 푸터 영역 */


footer{
    text-align: right;
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: #F0F0F0;
    bottom: 0;
    left: 0;
}

footer>ul>li{
    position: relative;
    width: 1200px;
    padding-top: 2vh;
    margin: 0 auto;
}



footer>ul>li>pre{
    position: relative;
    margin-right: 20px;
    z-index: 3;
}





/* 팝업 디자인 */

.popup{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 30;
    top:0;
    left:0;
    display: none;
}


.popup>img{
    position: absolute;
    width:auto;
    height:80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat : no-repeat;
    background-position : center center;
}






/* 태블릿 및 모바일*/




@media all and (max-width:1200px) {

}

@media all and (max-width:560px) {


}

@media all and (max-width:390px) {

}

@media all and (max-height:780px) and (max-width:1200px) {

}

@media all and (max-height:600px) {

}

